*,
::after,
::before {
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
  width: 100%;
  scroll-behavior: smooth;
}

body {
  font-family: "Nunito", sans-serif;
  font-style: normal;
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background: #ffffff;
  color: #344054;
  font-weight: 400;
  font-size: 16px;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 80px;
}

@media screen and (max-width: 1380px) {
  .container {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 16px;
  }
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul.dot-list li {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22.4px;
  list-style: disc inside;
  margin-left: 5px;
  leading-trim: both;
}

.d-flex {
  display: flex;
  width: 100%;
}

main {
  flex: 1 0 auto;
}

section {
  padding: 150px 0;
}

.hero-title {
  font-size: 70px;
  font-weight: 700;
  line-height: 70px; /* 100% */
  letter-spacing: -2.8px;
  margin-bottom: 24px;
  color: #101828;
}

.hero-title span {
  position: relative;
}

.hero-title span:before {
  content: "";
  display: inline-block;
  width: 50px;
  height: 50px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='50' height='50' viewBox='0 0 50 50' fill='none'%3E%3Cpath d='M1.77188 25.3232C1.61709 24.9554 1.18486 24.7742 0.814747 24.9268C0.445021 25.0791 0.267579 25.5152 0.418165 25.8839C0.569142 26.2534 1.00889 26.4313 1.37539 26.2795C1.74668 26.1257 1.91983 25.6936 1.77188 25.3232Z' fill='%23FEC84B'/%3E%3Cpath d='M9.12725 38.7731C8.97149 38.4048 8.54043 38.2247 8.17002 38.3775C7.80039 38.5301 7.62286 38.9645 7.77354 39.3337C7.92432 39.703 8.36358 39.8815 8.73067 39.7302C9.10235 39.577 9.27491 39.1427 9.12725 38.7731Z' fill='%23FEC84B'/%3E%3Cpath d='M27.2658 44.2767C27.1105 43.9094 26.6793 43.7262 26.3087 43.8802C25.9392 44.0337 25.7612 44.4683 25.9131 44.8373C26.0647 45.2058 26.5021 45.3861 26.8692 45.2328C27.2356 45.0799 27.4212 44.6454 27.2658 44.2767Z' fill='%23FEC84B'/%3E%3Cpath d='M8.00801 4.08192C8.2291 3.74539 8.13623 3.27938 7.7958 3.06063C7.46885 2.85047 7.01631 2.9367 6.7958 3.25946C6.57119 3.58817 6.65322 4.05135 6.98281 4.2784C7.31758 4.50897 7.78037 4.41512 8.00801 4.08192Z' fill='%23FEC84B'/%3E%3Cpath d='M24.3817 10.5581C24.227 10.1903 23.7945 10.0091 23.4246 10.1616C23.0549 10.3139 22.8775 10.7503 23.028 11.1187C23.1793 11.489 23.6182 11.6655 23.9853 11.5142C24.357 11.3611 24.5295 10.9284 24.3817 10.5581Z' fill='%23FEC84B'/%3E%3Cpath d='M31.7292 0.120572C31.4167 -0.0901701 30.978 -0.0166349 30.7464 0.27858C30.4949 0.599185 30.5612 1.07848 30.8894 1.3196C31.2141 1.55817 31.6831 1.48336 31.9182 1.15592C32.1584 0.821353 32.0656 0.350943 31.7292 0.120572Z' fill='%23FEC84B'/%3E%3Cpath d='M46.886 26.6126C46.811 26.2121 46.3952 25.9493 46.0017 26.0429C45.6114 26.1356 45.3589 26.5396 45.4574 26.9309C45.5516 27.3051 45.9314 27.5499 46.3118 27.4739C46.7001 27.3965 46.9677 27.0022 46.886 26.6126Z' fill='%23FEC84B'/%3E%3Cpath d='M26.003 29.573C26.3938 29.573 26.7229 29.2522 26.7349 28.8626C26.7474 28.4564 26.4109 28.1065 26.0031 28.1079C25.6048 28.1093 25.2707 28.4407 25.2705 28.8404C25.2704 29.2381 25.6049 29.573 26.003 29.573Z' fill='%23FEC84B'/%3E%3Cpath d='M42.8446 48.6609C42.5085 48.4396 42.0416 48.5329 41.8232 48.8732C41.611 49.2039 41.7013 49.6612 42.0311 49.8797C42.3629 50.0996 42.8263 50.0097 43.0468 49.6766C43.269 49.341 43.1752 48.8868 42.8446 48.6609Z' fill='%23FEC84B'/%3E%3Cpath d='M15.597 6.49111C15.7258 5.99049 16.4368 5.99048 16.5655 6.49111L19.0733 16.2425C19.1187 16.419 19.2565 16.5569 19.433 16.6022L29.1844 19.11C29.6851 19.2388 29.6851 19.9498 29.1844 20.0785L19.433 22.5863C19.2565 22.6317 19.1187 22.7695 19.0733 22.946L16.5655 32.6975C16.4368 33.1981 15.7258 33.1981 15.597 32.6975L13.0892 22.946C13.0438 22.7695 12.906 22.6317 12.7295 22.5863L2.97808 20.0785C2.47746 19.9498 2.47745 19.2388 2.97807 19.11L12.7295 16.6022C12.906 16.5569 13.0438 16.419 13.0892 16.2425L15.597 6.49111Z' fill='%23FEC84B'/%3E%3Cpath d='M33.5991 28.1635C33.7278 27.6628 34.4388 27.6628 34.5676 28.1635L36.3612 35.1378C36.4066 35.3143 36.5444 35.4522 36.7209 35.4976L43.6953 37.2911C44.1959 37.4198 44.1959 38.1308 43.6953 38.2596L36.7209 40.0532C36.5444 40.0986 36.4066 40.2364 36.3612 40.4129L34.5676 47.3873C34.4388 47.888 33.7278 47.888 33.5991 47.3873L31.8054 40.4129C31.76 40.2364 31.6222 40.0986 31.4457 40.0532L24.4714 38.2596C23.9707 38.1308 23.9707 37.4199 24.4714 37.2911L31.4457 35.4976C31.6222 35.4522 31.76 35.3143 31.8054 35.1378L33.5991 28.1635Z' fill='%23FEC84B'/%3E%3Cpath d='M40.064 2.61289C40.1928 2.11227 40.9037 2.11227 41.0325 2.61289L42.3336 7.67208C42.379 7.84858 42.5169 7.9864 42.6934 8.03179L47.7525 9.33285C48.2531 9.46159 48.2531 10.1726 47.7525 10.3013L42.6934 11.6024C42.5169 11.6478 42.379 11.7856 42.3336 11.9621L41.0325 17.0213C40.9038 17.5219 40.1928 17.5219 40.064 17.0213L38.7629 11.9621C38.7176 11.7856 38.5797 11.6478 38.4032 11.6024L33.3441 10.3013C32.8435 10.1726 32.8435 9.46159 33.3441 9.33285L38.4032 8.03179C38.5797 7.9864 38.7176 7.84857 38.7629 7.67208L40.064 2.61289Z' fill='%23FEC84B'/%3E%3Cpath d='M17.0655 8.43533C16.9191 7.86622 16.0813 7.97223 16.0813 8.55986V30.6287C16.0813 31.2163 16.9191 31.3224 17.0655 30.7532L19.0733 22.946C19.1187 22.7695 19.2565 22.6317 19.433 22.5863L29.1844 20.0785C29.6851 19.9498 29.6851 19.2388 29.1844 19.11L19.433 16.6022C19.2565 16.5569 19.1187 16.419 19.0733 16.2425L17.0655 8.43533Z' fill='%23FEC84B'/%3E%3Cpath d='M41.5325 4.55697C41.3861 3.98787 40.5482 4.09388 40.5482 4.68151V14.9527C40.5482 15.5403 41.3861 15.6463 41.5325 15.0772L42.3336 11.9621C42.379 11.7856 42.5169 11.6478 42.6934 11.6024L47.7525 10.3013C48.2531 10.1726 48.2531 9.46159 47.7525 9.33285L42.6934 8.03179C42.5169 7.9864 42.379 7.84858 42.3336 7.67208L41.5325 4.55697Z' fill='%23FEC84B'/%3E%3Cpath d='M35.0675 30.1077C34.9212 29.5385 34.0833 29.6446 34.0833 30.2322V45.3186C34.0833 45.9062 34.9212 46.0122 35.0675 45.4431L36.3612 40.4129C36.4066 40.2364 36.5444 40.0986 36.7209 40.0532L43.6953 38.2596C44.1959 38.1308 44.1959 37.4199 43.6952 37.2911L36.7209 35.4976C36.5444 35.4522 36.4066 35.3143 36.3612 35.1378L35.0675 30.1077Z' fill='%23FEC84B'/%3E%3C/svg%3E");
  background-size: contain;
}

.section-title {
  font-size: 54px;
  font-weight: 700;
  line-height: 58px; /* 107.407% */
  letter-spacing: -2.16px;
  margin-bottom: 24px;
  color: #101828;
}

.section-text {
  font-size: 18px;
  font-weight: 400;
  line-height: 25.2px;
  margin-bottom: 40px;
  color: #344054;
  leading-trim: both;
}

.middle-title {
  font-size: 34px;
  font-weight: 700;
  line-height: 34px; /* 100% */
  letter-spacing: -1.36px;
  color: #101828;
  margin-bottom: 24px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 22px;
}

form p {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  color: #101828;
  text-align: left;
}
form input {
  max-width: 350px;
  width: 100%;
  margin: 0 auto;
}

form button.primary {
  min-width: 167px;
}

input {
  border-radius: 8px;
  padding-left: 5px;
  border: 1px solid #2970ff;
  background: var(--white, #fff);
  height: 38px;
  /* Focus/Primary */
  box-shadow: 0px 0px 0px 2px rgba(21, 94, 239, 0.25),
    0px 1px 3px 0px rgba(0, 0, 0, 0.1), 0px 1px 2px 0px rgba(0, 0, 0, 0.06);
  height: 38px;
  outline: none;
}

@media screen and (max-width: 998.9px) {
  section {
    padding: 40px 0;
  }
}
@media screen and (max-width: 768.9px) {
  body {
    font-size: 16px;
  }
  .hero-title {
    font-size: 34px;
    font-weight: 700;
    line-height: 37px; /* 100% */
    letter-spacing: -1.36px;
    margin-bottom: 16px;
  }

  .hero-title span {
    position: inherit;
  }

  .hero-title span:before {
    display: none;
  }
  .section-title {
    font-size: 34px;
    font-weight: 700;
    line-height: 37px; /* 107.407% */
    letter-spacing: -1.36px;
    margin-bottom: 16px;
  }
  .middle-title {
    font-size: 25px;
    font-weight: 700;
    line-height: 34px; /* 100% */
    letter-spacing: -1px;
  }
  .section-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    margin-bottom: 32px;
  }
}
